.container {
    margin: 0 auto;
    width: 700px;
}
@media (max-width: 720px) {
  .container {
    margin: 0 auto;
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    margin: 0 auto;
    width: 300px;
  }
}

body {
  font-family: sans-serif;
  color: #183059;
  background-color: #F6F4F3;
  font-size: 16px;
}

.card {
  margin: 7px auto;
  border-radius: 1px;
  box-shadow: -1px 1px 5px #c5c4c3;
  padding: 10px 15px;
}

#header {
  text-align: center;
}

img {
  margin-top: 10px;
  width: 40%;
  height: 40%;
  border-radius: 10px;
}

/* h1 {
  color: #F03A47;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin: 1px 1px;
} */

.typewriter {
  margin: 0px 140px;
}

.typewriter h1 {
  color: #F03A47;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 35px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #183059; }
}

h2 {
  color: #AF5B5B;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

p {
  line-height: .8cm;
}

button {
  border-radius: 5px;
  font-family: sans-serif;
  color: #F6F4F3;
  font-size: 16px;
  background-color: #AF5B5B;
  padding: 5px;
}

button:active {
  color: #F03A47;
}

a {
  color: #183059;
}

a:hover {
  color: #F03A47;
}

ul {
  padding-inline-start: 0px;
}

#education {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#follow {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li {
  margin: auto 10px;
}

i {
  font-size: 50px;
}
